<div
	title="Actualiser les informations"
	(click)="data.getInformations()"
	id="reload"
>
	{{ data.lastReload }}s
</div>
<div id="app" [style.backgroundColor]="config.themeColor">
	<div id="box">
		<h1 *ngIf="isClosed">Fermé</h1>
		<ng-container *ngIf="!isClosed">
			<h1>{{ data.directCounter }}/{{ data.limitCounter }}</h1>
			<h2>personne<span *ngIf="data.directCounter > 1">s</span> en ce moment</h2>
		</ng-container>
		<div id="infos">
			<div *ngFor="let horaire of data.horaires" class="info">
				<h3>{{ horaire.label }}</h3>
				<h4>
					{{ horaire.nombre }} personne<span *ngIf="horaire.nombre > 1">s</span>
				</h4>
			</div>
		</div>
		<a (click)="shareOpened = true" id="place">
			<div id="logo"></div>
			<span id="desc">{{ data.placeSelected.label }}</span>
		</a>
		<a target="_blank" href="https://thomascauquil.fr" id="copyright"
			>Thomas Cauquil</a
		>
	</div>
</div>

<app-share *ngIf="shareOpened" (onClose)="shareClosed()"></app-share>
